<!DOCTYPE html>
<html>
<head>
  <title>TunrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:action]%>">
<li><%= link_to('NEW SONG', new_song_path)%></li>


<h1>HELLO</h1>
<%= yield %>

</body>
</html>
